#horizontalNav{
	display: block;
	width: 100%;
	height: 40px;
	clear: both;	
	background-color: #111;
	color: #eee;
	padding: 10px 0;
	margin: 0;
}

#dds{
	float: left;
	width: 40%;
	margin: 0;
	
}

nav{
		float: right;
		width: 60%;
}

.nav_bar {
	display: block;
	float: right;
	font-size: 2em;
	padding: 0 20px;
	margin: 0;
	width: 10%;
	border-radius: 10px;
}

a:link{
		text-decoration: none;
		color: #eee;
}

a:visited{
		color: #eee;
}

a:hover{
		background-color: #eee;
		color: #111;
}


.active{
	background-color: black;
	color: white;
}

