


html{
	
	background-color: #eee;
	background: linear-gradient(-60deg, #eee, #aaa);
	background-size: contain;
	height: 1000px;
	max-width: 1080;
}

body{
	margin: 0;
	text-align: center;
	font-size: 12px;
}

/*************
Splash Page!
*************/

#splashDiv{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 12;
	color: white;
	background-color: rgba(1,1,1, .9);	
}

#splashDiv h1{
	margin-top: 20%;
}

/***************
NAVIGATION
***************/

#horizontalNav{
	display: block;
	width: 100%;
	height: 30px;
	clear: both;	
	background-color: #333;
	color: #eee;
	padding:  0;
	margin: 0;
}

#dds{
	float: left;
	width: 40%;
	margin: 0;
	text-align: left;
	
}

nav{
		float: right;
		width: 60%;
}

.nav_bar {
	display: block;
	text-align: right;
	float: right;
	font-size: 2em;
	padding: 0 20px;
	margin: 0;
	width: 7%;
	border-radius: 5px;
}

a:link{
		text-decoration: none;
		color: #eee;
}

a:visited{
		color: #eee;
}

#horizontalNav a:hover{
		background-color: #eee;
		color: #111;
}


.active{
	background-color: #666;
	color: white;
}
/*****************
Index Page
*****************/
p{
	width: 80%;
	margin: auto;
}

#logo{
	margin-top: 10%;
	width: 200px;
}

/*****************
Games Page
*****************/
#games_page{
	width: 80%;
	margin: auto;
}

.games{
	float: left;
	margin: 1%;
	background: black;
}

#quantum{
	width: 60%;
	margin: auto;
	margin-top: 7%;
	background-color: white;
	border-radius: 10px;
	box-shadow: 5px 5px 5px;
}

div#slider1_container{
	margin: auto;
	margin-top: 5%;
	padding-bottom: 5%;
}



/*************
Contact Page
*************/
input, textarea{
	margin: 10px;
	text-align: center;
}


/****************
Footer
****************/
footer{
	position: fixed;
	bottom: 0;
	background-color: #111;
	color: #eee;
	width: 100%;
	text-align: center;
	
}

@media screen and (max-width: 500px){
	#horizontalNav{
		height: 60px;
	}
	a.nav_bar {
		
	}
	
	
}

@media screen and (max-width: 400px){
		html{
			height: 100%;

		}
		
		
		#horizontalNav{
			height: 100%;
		}
		
		#dds{
			width: 100%;
			float: none;
			text-align: center;
		}
		nav{
			float: none;
			width: 100%;
		}
		
		.nav_bar{
			display: block;
			float: none;
			width: 100%;
			text-align: center;
			padding: 0;
			font-size: 3em;
		}
		
		a{
			display: block;
			float: none;
			width: 100%;
		}
}

